@use "sass:map";
@import "./theme";
@import "./responsive";

html,body{
    margin: 0;

}

*{
    font-family: Roboto;
    padding: 0;
    margin:0;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    // background: map.get($theme-color, "");
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap; // tran het dien tich thi dua xuong phia duoi

}

.col-6{
    flex:  0 0 50%;
    max-width: 50%;
    
}


@include Responsive($DESKTOP){
    .col-xl-3{
        flex:  0 0 25%;
        max-width: 25%;
    }
    .col-xl-6{
        flex:  0 0 50%;
        max-width: 50%;
    }
}

@include Responsive($MEDIUM_DEVICE){
    .col-lg-3{
        flex:  0 0 100%;
        max-width: 100%;
    }
}

@include Responsive($SMALL_DIVICES){
    .col-lg-3{
        flex:  0 0 100%;
        max-width: 25%;
    }
}